Dockerfile
README.md
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
.git
.idea
static/img
nifty-foundry-292614-ef00096b72dd.json
client_secret_592593442591-ffievgie1mceorn0en6ni4paipme9ej1.apps.googleusercontent.com.json